<nav class="navbar navbar-default" role="navigation">
    <form method="get" action="{{ path('books_index') }}">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <div class="col-sm-3 col-md-3">
                <div class="navbar-form select-with-text">
                    <div class="input-group">
                        <label class="form-control" for="">Genre</label>
                        <select name="genre" id="genre_input" class="form-control selectpicker">
                            <option value>----------</option>
                            {% for genre in genres %}
                                <option value="{{ genre.slug }}" {{ app.request.query.get('genre') == genre.slug ? 'selected' : '' }}>{{ genre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="navbar-form select-with-text">
                    <div class="input-group">
                        <label class="form-control" for="books_per_page_input">Books per page</label>
                        <input name="books_per_page" id="books_per_page_input" class="form-control" value="{{ booksPerPage }}">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="navbar-form select-with-text">
                    <div class="input-group">
                        <label class="form-control" for="">Author</label>
                        <select name="author" id="" class="form-control selectpicker">
                            <option value>----------</option>
                            {% for author in authors %}
                                <option value="{{ author.id }}" {{ app.request.query.get('author') == author.id ? 'selected' : '' }}>{{ author }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="search" value="{{ app.request.query.get('search') }}">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</nav>
